* {
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
}

body {
  background: linear-gradient(to right, #8e24aa , #ffeb3b);
}

.clear{
  clear: both;
}

.cell {
  float: left;
  width: 15%;
  height: 20vh;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 25px;
}

.fas.fa-times, .far.fa-circle {
  font-size: 0.8em;
}

/* THIS CLASS HAVE TO STAY AFTER .CELL CLASSES TO OVERWRITE BORDER-LEFT AND BORDER BOTTOM WHEN IS NECESSARY */
.no-border-left {
  border-left: none;
}
/* THIS CLASS HAVE TO STAY AFTER .CELL CLASSES TO OVERWRITE BORDER-LEFT AND BORDER BOTTOM WHEN IS NECESSARY */
.no-border-bottom {
  border-bottom: none;
}

header h1 {
  font-size: 6em;
  text-align: center;
}

#tris-container {
  margin-left: 35%;
}

#winner{
  text-align: center;
  font-size: 3em;
}

.sign {
  font-size: 5em;
  font-weight: bold;
  text-align: center;
}

.btn-container {
  text-align: center;
  margin-top: 5%;
}

#btn-game {
  display: none;
  font-size: 3em;
  padding: 2%;
  border-style: hidden;
  border-radius: 10px;
  background: linear-gradient(to right, #8e24aa , #ffeb3b);
  cursor: pointer;
}

.disabled-click{
 pointer-events: none;
}

@media only screen and (max-width: 1200px) {

  .cell {
    width: 20%;
    height: 20vh;
    padding-top: 15px;
  }

  #tris-container {
    margin-left: 30%;
  }

}

@media only screen and (max-width: 600px) {

  .cell {
    width: 30%;
    height: 18vh;
    padding-top: 5px;

  }

  #tris-container {
    margin-left: 10%;
  }

}
